<div class="row">
  <div class="col-sm-12 col-md-6 mt-3">
    <input #buscador type="text" placeholder="Buscar..." class="form-control form-control-sm">
  </div>
  <div class="col-sm-12 col-md-6 mt-3 text-end">
    <button mat-flat-button #agregar type="button" class="m-r-8 bg-warning">Nuevo</button>
  </div>
</div>
<div class="row">
  <div class="col-12 pt-3">
    <ag-grid-angular
      style="height: 500px; width: 100%;"
      [rowData]="rowData"
      [columnDefs]="colDefs"
      [gridOptions]="gridOptions"
    >
    </ag-grid-angular>
  </div>
</div>

