<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">
          <span
            class="iconify me-2"
            [attr.data-icon]="'solar:users-group-two-rounded-outline'"
            data-inline="false"
            style="font-size: 28px;">
          </span>
      Participantes del Evento: {{ data.evento.nombre }}
      <div class="evento-info">
        <small>Código: {{ data.evento.codigo }} |
          Fechas: {{ data.evento.fechaInicio }} - {{ data.evento.fechaFin }}</small>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <app-ag-grid-angular-custom
      [rowData]="rowData"
      [columnDefs]="colDefs"
      [showActions]="true"
      [showAddButton]="true"
      [showDownloadButton]="false"
      [menuOptions]="menuOptions"
      addButtonText="Agregar Participante"
      addButtonClass="m-r-8 bg-primary"
      searchPlaceholder="Buscar participante..."
      gridHeight="50vh"
      [paginationPageSize]="20"
      [rowHeight]="50"
      (onAdd)="onAdd()"
      (onEdit)="onEdit($event)"
      (onView)="onView($event)"
      (onDownload)="onDownload($event)"
      (onDelete)="onDelete($event)"
      (gridReady)="onGridReady($event)"
      (onMenuAction)="onMenuAction($event)"
    >
    </app-ag-grid-angular-custom>
  </mat-card-content>

  <mat-card-footer class="p-3">
    <div class="d-flex justify-content-end gap-2">
    <button mat-stroked-button type="button" (click)="onClose()">
      <mat-icon>close</mat-icon>
      Cerrar
    </button>
    </div>
  </mat-card-footer>
</mat-card>
